<div class="card card-signup">
  <div class="card-header card-header-primary text-center">
    <h4>Corporation drivers</h4>
  </div>
  <app-drivers-list-item class="list-group list-group-flush"
                         *ngFor="let currentDriver of drivers | paginate: { itemsPerPage: 3, currentPage: p }"
                         [driver]="currentDriver"></app-drivers-list-item>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
