<div class="list-group-item img-raised rounded">
  <div>
    <h4>From: {{order.fromAddress}}</h4>
    <h4>To: {{order.toAddress}}</h4>
    <h4>Status: {{order.status}}</h4>
    <p>Order created at: {{order.openTime | date:'medium'}}</p>
    <p>Order taken at: {{order.startTime | date:'medium'}}</p>
    <p>Order finished at: {{order.endTime | date:'medium'}}</p>
  </div>
</div>
