<div class="card card-signup">
  <div class="card-header card-header-primary text-center">
    <h4>Open orders</h4>
  </div>
  <app-order-item class="list-group list-group-flush"
                  *ngFor="let currentOrder of orders | paginate: { itemsPerPage: 3, currentPage: p }"
                  [order]="currentOrder"></app-order-item>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
