<div class="card card-signup">
  <div class="card-header card-header-primary text-center">
    <h4>Orders taken</h4>
  </div>
  <app-orders-taken-item class="list-group list-group-flush"
                         *ngFor="let currentOrder of orders | paginate: { itemsPerPage: 3, currentPage: p }"
                         [order]="currentOrder"></app-orders-taken-item>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>

