<div class="card card-signup">
  <div class="card-header card-header-primary text-center">
    <h4>Orders history</h4>
  </div>
  <app-order-history-item class="list-group list-group-flush"
                          *ngFor="let currentOrder of orderHistory | paginate: { itemsPerPage: 3, currentPage: p }"
                          [order]="currentOrder"></app-order-history-item>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
