<div class="list-group-item img-raised rounded">
  <div class="col">
    <h4>From: {{order.fromAddress}}</h4>
    <h4>To: {{order.toAddress}}</h4>
    <h4>Status: {{order.status}}</h4>
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary" (click)="onOrderClosed()">Close</button>
    <button type="button" class="btn btn-primary" (click)="onOrderResign()">Resign</button>
  </div>
</div>
