<app-header></app-header>
<div class="row">
  <div class="col-10 offset-1 col-lg-8 offset-lg-2">
    <div class="card card-signup">
      <form class="form"
            method="post"
            [formGroup]="registrationFormDriver"
            novalidate
            (ngSubmit)="onSubmit()">
        <div class="card-header card-header-primary text-center">
          <h4>Driver's registration</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group"
                   [ngClass]="{'no-margin-b': isValid(driverFirstName)}">
                <label for="driverFirstName">Driver's first name:</label>
                <div class="input-group-text">
                  <span class="input-group-addon"><i class="material-icons">face</i></span>
                  <input
                    type="text"
                    class="form-control login_input"
                    placeholder="Enter driver's first name"
                    name="driverFirstName"
                    required
                    formControlName="driverFirstName"
                    id="driverFirstName">
                </div>
              </div>
              <span class="help-block" *ngIf="isValid(driverFirstName)">Please enter driver's first name!</span>
              <div class="form-group"
                   [ngClass]="{'no-margin-b': isValid(driverLastName)}">
                <label for="driverLastName">Driver's last name:</label>
                <div class="input-group-text">
                  <span class="input-group-addon"><i class="material-icons">face</i></span>
                  <input
                    type="text"
                    class="form-control login_input"
                    placeholder="Enter driver's last name"
                    name="driverLastName"
                    required
                    formControlName="driverLastName"
                    id="driverLastName">
                </div>
              </div>
              <span class="help-block" *ngIf="isValid(driverLastName)">Please enter driver's last name!</span>
              <div class="form-group"
                   [ngClass]="{'no-margin-b': isValid(driverEmail)}">
                <label for="driverEmail">Driver's email:</label>
                <div class="input-group-text">
                  <span class="input-group-addon"><i class="material-icons">email</i></span>
                  <input
                    type="email"
                    class="form-control login_input"
                    placeholder="Enter driver's email address"
                    name="driverEmail"
                    formControlName="driverEmail"
                    email
                    required
                    id="driverEmail">
                </div>
              </div>
              <span class="help-block" *ngIf="isValid(driverEmail)">Please enter a valid email!</span>
            </div>
            <div class="col">
              <div class="form-group"
                   [ngClass]="{'no-margin-b': isValid(carMake)}">
                <label for="carMake">Car's make:</label>
                <div class="input-group-text">
                  <span class="input-group-addon"><i class="material-icons">drive_eta</i></span>
                  <input
                    type="text"
                    class="form-control login_input"
                    placeholder="Enter car's make"
                    name="carMake"
                    formControlName="carMake"
                    required
                    id="carMake">
                </div>
              </div>
              <span class="help-block" *ngIf="isValid(carMake)">Please enter car's make!</span>
              <div class="form-group"
                   [ngClass]="{'no-margin-b': isValid(carModel)}">
                <label for="carModel">Car's model:</label>
                <div class="input-group-text">
                  <span class="input-group-addon"><i class="material-icons">drive_eta</i></span>
                  <input
                    type="text"
                    class="form-control login_input"
                    placeholder="Enter car's model"
                    name="carModel"
                    formControlName="carModel"
                    required
                    id="carModel">
                </div>
              </div>
              <span class="help-block" *ngIf="isValid(carModel)">Please enter car's model!</span>
              <div class="form-group"
                   [ngClass]="{'no-margin-b': isValid(carColor)}">
                <label for="carColor">Car's color:</label>
                <div class="input-group-text">
                  <span class="input-group-addon"><i class="material-icons">drive_eta</i></span>
                  <input
                    type="text"
                    class="form-control login_input"
                    placeholder="Enter car's color"
                    name="carColor"
                    formControlName="carColor"
                    required
                    id="carColor">
                </div>
              </div>
              <span class="help-block" *ngIf="isValid(carColor)">Please enter car's color!</span>
              <div class="form-group"
                   [ngClass]="{'no-margin-b': isValid(carPlates)}">
                <label for="carPlates">Car's plates:</label>
                <div class="input-group-text">
                  <span class="input-group-addon"><i class="material-icons">drive_eta</i></span>
                  <input
                    type="text"
                    class="form-control login_input"
                    placeholder="Enter car's plates"
                    name="carPlates"
                    formControlName="carPlates"
                    required
                    id="carPlates">
                </div>
              </div>
              <span class="help-block" *ngIf="isValid(carPlates)">Please enter car's color!</span>
            </div>
          </div>
          <div class="card-footer justify-content-left">
            <button
              type="submit"
              class="btn btn-link btn-primary btn-lg"
              [disabled]="!registrationFormDriver.valid">Register
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

