<div class="card card-signup">
  <div class="card-header card-header-primary text-center">
    <h4>Active order</h4>
  </div>
  <div class="card-body">
    <div *ngIf="activeOrder!==undefined; else info">
      <h4>From: {{activeOrder.fromAddress}}</h4>
      <h4>To: {{activeOrder.toAddress}}</h4>
      <h4>Status: {{activeOrder.status}}</h4>
      <button type="submit"
              class="btn btn-primary"
              (click)="onCancelOrder()">Cancel order
      </button>
    </div>
    <agm-map [scrollwheel]="true" [zoom]=1>
      <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
    </agm-map>
  </div>
  <ng-template #info>
    <div class="info text-center">
      <div class="icon icon-primary">
        <i class="material-icons">warning</i>
      </div>
      <h6>There are no active orders!</h6>
      <p>You have currently no active orders. Please go to Make Order to create one!</p>
      <button
        class="btn btn-link btn-primary btn-lg"
        (click)="goToMakeOrder()">Go to Make Order
      </button>
    </div>
  </ng-template>
</div>
